<!-- <input type="button" value="Start" onClick="createCountUp()" class="inlineLeft marginLeft marginRight" style="width:80px;">
<input type="button" value="Stop" onClick="showCodeAndStop()" class="inlineLeft marginRight" style="width:80px;">
<input type="button" value="Resume" onClick="showCodeAndResume()" class="inlineLeft marginRight" style="width:80px;">
<input type="button" value="Reset" onClick="showCodeAndReset()" class="inlineLeft marginRight" style="width:80px;">
<input type="checkbox" onClick="toggleOnComplete(this)"><label class="inlineLabel">Alert on complete</label>
 -->

 NUMBERS

 <%= link_to 'Show Graph', page_five_path, class: "btn btn-lg btn-primary btn-block" %>