<script type="text/javascript">    
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

<div id="myModal" class="modal fade" style="top: 200px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
            <h4>
                "Carbon" Would Like to Use Your Current Location
            </h4>
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Don't Allow</button>
                </div>
                <div class="col-xs-6">
                    <form method="get" action="/page_four">
                    <input class="btn btn-primary btn-block" value="OK" type="submit"/>
                </div>
            </div>
        </div>
    </div>
</div>